header{
    line-height: 10px;
}

body{
    background-color:#94EBDF;
    text-align: center;
    font-size: 2em;
}
.inicio{
    color: #436B66;
    font-style: oblique;
}
.softSkills{
    font-style:italic;
}
.minhaFoto{
    border-radius: 50%;
    width: 20em;
    border-style:solid;
    border-width: 8px;
    border-color: #436B66;

}
ul{
    list-style-type: '🧠';
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    justify-content: center;
}

.meuNome{
    color: #4FEED9;
    text-decoration:double;
    background-color: #436B66;
    font-size: 1.5em;
    padding: 1px 4px 1px;
    box-shadow: 4px 6px 2px #236B62;
    
}
.trybe{
    color: #179129;
    text-decoration: dotted;
}