@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --firstColor:rgb(116, 169, 240);
    --secondColor:rgb(5, 24, 49);
    --deg:10deg;
}



.styledText {
    font-family: monospace;
}
